@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
main img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 10px solid white;
    box-shadow: 6px 6px 12px black;
    margin: 0;
}
.menuButton {
    display: none;
    margin: 0 auto;
    font-family: 'Mooli', sans-serif;
    background-color: #52489c;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
body,
html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2em;
    margin: 0 auto;
    background-color: #ebebeb;
}
header {
    font-family: 'Mooli', sans-serif;
    background-color: #52489c;
    color: white;
    padding: 20px 0;
}
h1 br {
    display: none;
}
h1 {
    font-weight: lighter;
}
nav {
    margin-top: 1rem;
}
nav a {
    color: white;
    margin: 0 3rem;
    font-size: 1rem;
    text-decoration: none;
}
main {
    margin-left: 5rem;
    margin-right: 5rem;
}
section {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
figure {
    margin: 1rem;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 0.25em;
    background-color: #52489c;
    color: white;
}

.hide {
    display: none;
}
.viewer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    background: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    z-index: 10;
    padding-bottom: 2rem;
}

.viewer img {
    max-width: 80%;
    max-height: 100%;
    object-fit: contain;
}

.close-viewer {
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    align-self: start;
    justify-self: end;
    margin-top: 10px;
    font-size: 1rem;
    padding-right: 10%;
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .dropdown {
        display: none;
    }
    .menuButton {
        display: block;
        font-size: 1.15rem;
        height: 2rem;
        border: 2px white;
    }
    .menuButton:hover {
        background-color: white;
        color: #52489c;
    }
    .dropdown {
        display: none;
    }
    .dropdown.show {
        display: block;
    }

    .hide {
        display: none;
    }
    .viewer {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.75);
        display: grid;
        grid-template-rows: auto 1fr;
        place-items: center;
        z-index: 10;
        transform: none;
    }

    .viewer img {
        max-width: 80%;
        max-height: 100%;
        object-fit: contain;
    }

    .close-viewer {
        font-size: 2rem;
        color: white;
        background: none;
        border: none;
        cursor: pointer;
        align-self: start;
        justify-self: end;
        margin: 10px;
        padding-top: 5vw;
    }
}

@media screen and (max-width: 700px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    header nav {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5px;
    }
    .menuButton {
        display: block;
        font-size: 1.15rem;
        height: 2rem;
        border: 2px white;
    }
    header h1 {
        font-weight: lighter;
        margin-bottom: 0;
    }
    h1 br {
        display: inline;
    }
    .dropdown {
        display: none;
    }
    .dropdown.show {
        display: block;
    }
    .hide {
        display: none;
    }
    .viewer {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.75);
        display: grid;
        grid-template-rows: auto 1fr;
        place-items: center;
        z-index: 10;
        transform: none;
    }

    .viewer img {
        max-width: 90%;
        max-height: 100%;
        object-fit: contain;
    }

    .close-viewer {
        font-size: 2rem;
        color: white;
        background: none;
        border: none;
        cursor: pointer;
        align-self: start;
        justify-self: end;
        margin: 10px;
        padding-top: 15vw;
    }
}
